
/* Site objects */
* {
	margin: 0;
	padding: 0;
}
header {
	display: block;
	width: 100%;
	height: 50px;

	background: blue;
}

/* Game objects */
#game-board {
	margin: 0 auto;
	width: 800px;
	height: 600px;
	background: gray;
}

.grid {
	position: relative;
	width: 800px;
	height: 600px;

	background: black;
}

.cell {
	position: absolute;
	width: 40px;
	height: 40px;
	z-index: 0;

	border: 1px solid gray;
}

.cell.empty {
	background: black;
}

.cell.grass {
	background: green;
}

.player {
	position: absolute;
	width: 36px;
	height: 36px;
	z-index: 1;
}